* {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
input {
  outline: none;
}
button {
  outline: none !important;
}
/* стили текста */
.oxy12-15 {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.oxy18-23 {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.oxy18-23_blackbold {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  color: #000000;
}
.oxy17-21 {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
}
.bin16-28 {
  font-family: 'Biryani', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}
.oxy25-32_blackbold {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  color: #000000;
}
.oxy25-32_redbold {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  color: #EC5254;
}
.bin30-53 {
  font-family: 'Biryani', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 53px;
}
.inter16 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.roboto18-21 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}
/* конец стилей текста */


/* начало хидера */
.search-wraper {
  width: 375px;
  height: 32px;
  position: relative;
}
.search-input {
  width: 303px;
  height: 32px;
  border-radius: 15px 0px 0px 15px;
  background: #F9F9F9;
  border: 0.3px solid #F4F4F4;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.08);
  padding-left: 20px;
}
.search-submit {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 73.84px;
  height: 32px;
  background: url('/img/orange-search.png');
  border-radius: 0px 15px 15px 0px;
  border: none;
}
.search-button {
  border: none;
  background: transparent;
  margin-right: 27px;
}
.login-button {
  background: #0800C2;
  border-radius: 30px;
  padding: 9px 21px;
  color: #fff !important;
  text-decoration: none;
}
.login-button > img {
  margin-right: 8px;
}
.header-top {
  margin-top: 26px;
  margin-bottom: 24px;
}
.sub-header {
  display: flex;
  justify-content: space-around;
  background: #EEEEF2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
}
.sub-menu {
  list-style-type: none;
  display: flex;
  max-width: 711px;
}
.sub-menu li {
  margin-right: 42px;
}
.sub-menu li:last-child {
  margin-right: 0;
}
.exchange {
  display: flex;
  list-style-type: none;
}
.exchange li {
  margin-right: 43px;
}
/* конец хидера */

/* начало слайдера и синего меню */
.slider-category {
  background: #0800C2;
  border-radius: 5px;
  max-width: 278px;
  width: 100%;
}
.main-top {
  display: flex;
  max-width: 1140px;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 36px;
}
.slider-category ul {
  padding-left: 15px;
  list-style: none;
  padding-top: 20px;
}
.slider-category li {
  padding-bottom: 5px;
}
.slider-category img {
  padding-right: 10px;
}
/* конец слайдера и синего менб */

/* начало павельонов */
.pawel-img {
  width: 173px;
  height: 166px;
}
.pawel-item {
  text-align: center;
  margin-bottom: 20px;  
}
.pawel-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pawelon {
  max-width: 1140px;
  margin: auto;
}
.pawelon-section__title {
  margin-bottom: 78px;
  margin-top: 112px;
}
/* конец павельонов */

/* начало поплярных товаров 'тут общие стили у павильонов ' */
.popular-tovar {
  max-width: 1140px;
  margin: auto;
}
.popular-card {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.popular-item, .category-card__item {
  display: flex;
  width: 270px;
  height: 116px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.item-price__country  {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.item-big__price {
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  color: #FFD300;
}
.item-img img {
  width: 104px;
  height: 100px;
  object-fit: cover;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.300455216266194) 35%, rgba(0,212,255,1) 100%);
}
.price-rozn {
  margin-top: -10px;
  margin-left: 10px;
}
.item-descr__title {
  margin-top: 10px;
  margin-left: 10px;
}
.item-img {
  position: relative;
  top: 7px;
  left: 7px;
}
.item-logo {
  position: absolute;
  top: 0px;
}
.item-top {
  position: absolute;
  bottom: 0px;
  background-color: #29658A;
  color: #fff !important;
  padding: 5px;
}
.item-logo__text {
  padding: 10px;
  background-color: #EFEFEF;
}
.index-category {
  max-width: 1140px;
  margin: auto;
}
.index-cat__card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.index-categ__title {
  margin-top: 70px;
  margin-bottom: 15px;
}
/* конец стилей популярных товаров */
@media (max-width: 768px) {
  article {
    margin-left: 30px;
    margin-right: 30px;
  }
}







/* начало стилей для страницы pawelion.html */

/* конец стилей для pawelion.html */




/* начало стилейе для sdelca-complete.html */
.sdelka-complete {
  background: url('/img/sdelka-back.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sdelka-complete-card {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 754px;
  width: 100%;
  min-width: 310px;
}
.sdelka-complete__title {
  color: #fff;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 73px;
}
.sdelka-complete__otziv {
  background: #FFD300;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 5px 46px;
  color: #000000;

}
@media (max-width: 768px) {
  .sdelka-complete-card {
    margin-left: 20px;
    margin-right: 20px;
  }
}
/* конец стилейе для sdelca-complete.html */





/* начало стилейе для uwla-na-moderaciu.html */

/* конец стилейе для uwla-na-moderaciu.html */








/* начало стилейе для myprofile.html */
.myprofile-main {
  max-width: 996px;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.myprofile-section {
  display: flex;
}
.left-sidebar {
  width: 80px;
  height: 100vh;
  position: fixed;
  background: #0800C2;
  text-align: center;
}
.profile-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  border-bottom: 1px solid #919191;
  margin-bottom: 30px;
  margin-top: 11px;
  width: 55px;
  height: 55px;
}
.profile-navigation a {
  margin-top: 5px;
  margin-bottom: 5px;
}
.profile-form__left, .profile-form__right {
  display: flex;
  flex-direction: column;
}
.profile-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.profile-form input,select, option {
  width: 422px;
  height: 55px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  outline: none;
}
/* конец стилейе для myprofile.html */




/* начало стилей для страницы my-partner.html */
.mypartner {
  max-width: 1140px;
  margin: auto;
  width: 100%;
  margin-top: 67px;
}
.mypartner-title {
  text-align: center;
}
.create-contact {
  width: 248px;
  height: 34px;
  background: #EC5254;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  outline: none;
  border: none;
  display: block;
  margin-left: auto;
  margin-top: -30px;
  color: #fff;
}
.mypartner-item {
  width: 270px;
  height: 275px;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
}
.mypartner-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 45px;
}
.partner-close-icon {
  background: transparent;
  border: none;
  position: absolute;
  right: 0px;
}
.partner-image {
  width: 270px;
  height: 220px;
}
.mypartner-item__content {
  position: absolute;
  bottom: 0px;
  width: 270px;
  height: 90px;
  background: #4F4F4F;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
}
/* конец стилей для страницы my-partner.html */











/* начало стлей в user-regist.html */
.user-reg {
  margin-left: 40px;  
  margin-bottom: 47px;
}
/* конец стлей в user-regist.html */