* {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
input {
  outline: none;
}
button {
  outline: none !important;
}
/* стили текста */
.oxy12-15 {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.oxy18-23 {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.oxy18-23_blackbold {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  color: #000000;
}
.oxy17-21 {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
}
.bin16-28 {
  font-family: Biryani;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}
.oxy25-32_blackbold {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  color: #000000;
}
.oxy25-32_redbold {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  color: #EC5254;
}
/* конец стилей текста */
.search-wraper {
  width: 375px;
  height: 32px;
  position: relative;
}
.search-input {
  width: 303px;
  height: 32px;
  border-radius: 15px 0px 0px 15px;
  background: #F9F9F9;
  border: 0.3px solid #F4F4F4;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.08);
  padding-left: 20px;
}
.search-submit {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 73.84px;
  height: 32px;
  background: url('/img/orange-search.png');
  border-radius: 0px 15px 15px 0px;
  border: none;
}
.search-button {
  border: none;
  background: transparent;
  margin-right: 27px;
}
.login-button {
  background: #0800C2;
  border-radius: 30px;
  padding: 9px 21px;
  color: #fff !important;
  text-decoration: none;
}
.login-button > img {
  margin-right: 8px;
}
.header-top {
  margin-top: 26px;
  margin-bottom: 24px;
}
.sub-header {
  display: flex;
  justify-content: space-around;
  background: #EEEEF2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
}
.sub-menu {
  list-style-type: none;
  display: flex;
  max-width: 711px;
}
.sub-menu li {
  margin-right: 42px;
}
.sub-menu li:last-child {
  margin-right: 0;
}
.exchange {
  display: flex;
  list-style-type: none;
}
.exchange li {
  margin-right: 43px;
}
